[submodule "libs/distingNT_API"]
	path = libs/distingNT_API
	url = https://github.com/expertsleepersltd/distingNT_API
[submodule "libs/VISR"]
	path = libs/VISR
	url = https://github.com/s3a-spatialaudio/VISR
[submodule "libs/steam-audio"]
	path = libs/steam-audio
	url = https://github.com/ValveSoftware/steam-audio
